div, header{
    box-sizing: border-box;
}
/* aaa */
html, body{
    margin: 0px;
    background-color: #F9F9F9;
    width: 100%;
    height: 100%;
    -ms-user-select: none; 
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.container{
    display: flex;
    width: 100%;
    height: 100%;
}
.side-bar{
    background-color: #FFF;
    width: 280px;
    height: 100%;
    padding: 40px;
}
.main-container{
    width: 80%;
    position: relative;
}
.logo{
    width: 200px;
}
.side-sell{
    margin-top: 30px;
}
.side-sell p{
    color: #7C8585;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 15px;
    cursor: pointer;
}
.side-manage{
    margin-top: 40px;
}
.side-manage p{
    color: #7C8585;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 0;
    margin-top: 15px;
}
.main-header{
    display: flex;
    justify-content: center;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}
.main-header p{
    color: #000;
    font-size: 20px;
    font-weight: 600;
    margin-right: auto;
}
.main-header-div{
    /* margin: auto; */
    width: auto;
    height: auto;
    display: flex;
    justify-content: flex-end;
}
.main-header-div button{
    border: 0;
    border-radius: 10px;
    font-size: 15px;
    padding: 5px;
    padding-left: 12px;
    padding-right: 12px;
    margin: 5px;
    color: white;
    cursor: pointer;
    height: 35px;
}
.main-frame{
    width: 64%;
    min-width: 700px;
    height: 700px;
    margin-left: 50px;
    margin-top: 25px;
    /* background-color: #7C8585; */
}
.item-frame{
    border: 0;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0.5px gray;
    width: 100%;
    height: 550px;
    margin-top: 17px;
    overflow: auto;
    background-color: #FFF;
    /* -ms-overflow-style: none; */
}
/* .item-frame::-webkit-scrollbar{
    display:none;
} */
.item-list{
    background-color: #FFF;
    border: 0;
    width: 100%;
    border-radius: 10px;
    text-align: start;
    padding: 10px;
    white-space: nowrap;
    overflow: auto;
}
.item-list th{
    text-align: start;
    color: #7C8585;
    font-weight: 600;
    border-bottom: 0.5px solid rgb(226, 226, 226);
    padding-bottom: 5px;
    padding-right: 20px;
}
.item-list tr{
    margin: 10px;
    min-width: 500px;
}
.item-list td{
    font-weight: 600;
    margin-top: 10px;
    padding-bottom: 15px;
    padding-top: 15px;
}
input[type="checkbox"]{
    zoom: 1.2;
}
.main-footer{
    display: flex;
    justify-content: center;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
}
.main-footer button{
    border: 0;
    border-radius: 10px;
    font-size: 15px;
    padding: 5px;
    padding-left: 12px;
    padding-right: 12px;
    margin: 5px;
    color: white;
    cursor: pointer;
    height: 35px;
    background-color: #2EA4AB; 
    box-shadow: 0px 0px 5px 0.1px #2EA4AB;
}
.main-footer button:active{
    background-color: #266c70; 
    box-shadow: 0px 0px 5px 0.1px #266c70;
}
.add-bar{
    width: 350px;
    height: 100%;
    background-color: #FFF;
    padding: 25px;
    position: absolute;
    right: 0;
}
.add-bar header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.add-bar header h3{
    margin-right: auto;
    font-size: 23px;
    font-weight: 600;
}
.add-bar header img{
    width: 18px;
    height: 18px;
    cursor: pointer;
}
.add-bar h4{
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 17px;
}
.add-bar div{
    width: 300px;
    border: 2px solid #D3D5D5;
    border-radius: 12px;
    background-color: #F4F5F5;
    padding: 10px;
    box-sizing: border-box;
    height: 90px;
}
.add-bar div p{
    font-size: 14px;
    color: #878787;
    font-weight: 600;
    margin: 0;
    margin-left: 2px;
}
.add-bar div input{
    margin-top: 12px;
    border: 0;
    background-color: #F4F5F5;
    font-size: 20px;
    box-sizing: border-box;
    font-weight: 600;
    width: 100%;
}
.add-bar div input::placeholder{
    margin-top: 12px;
    font-size: 20px;
    font-weight: 600;
}
.add-bar div input:focus { 
    outline: none; 
}
.add-bar h5{
    color: #CACACA;
    margin-top: 5px;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 30px;
}
.add-bar button{
    border: 0;
    border-radius: 10px;
    font-size: 15px;
    padding: 5px;
    padding-left: 12px;
    padding-right: 12px;
    color: white;
    cursor: pointer;
    height: 35px;
    width: 300px;
    margin-top: 20px;
    background-color: #2EA4AB; 
    box-shadow: 0px 0px 5px 0.1px #2EA4AB;
}
.add-bar button:active{
    background-color: #266c70; 
    box-shadow: 0px 0px 5px 0.1px #266c70;
}